[Service]
; `Environment=` overrides are applied per environment variable. This line does not
; affect any other variables set in the service template.
Environment=CERT_LOCATION="{{ vault.cert_path }}" \
            KEY_LOCATION="{{ vault.key_path }}"
WorkingDirectory="{{ vault.key_path | dirname }}"

; Restart Vault service after certificate renewal
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-active vault.service || systemctl try-reload-or-restart vault.service"
