ui                                  = true
cluster_addr                        = "https://{{ ipv4_address }}:8201"
api_addr                            = "https://{{ ipv4_address }}:8200"
disable_mlock                       = true
cluster_name                        = "{{ cluster.name }}"
enable_response_header_raft_node_id = true
log_level                           = "debug"

storage "raft" {
  path    = "{{ vault_raft_path }}"
  node_id = "{{ clean_hostname }}"

  {% for vault_node in groups['vault'] | unique -%}
 retry_join {
    leader_tls_servername   = "{{ vault_node }}"
    leader_api_addr         = "https://{{ hostvars[vault_node].ipv4_address }}:8200"
    leader_ca_cert_file     = "{{ vault_certs_path }}/ca.crt"
    leader_client_cert_file = "{{ vault_certs_path }}/tls.crt"
    leader_client_key_file  = "{{ vault_certs_path }}/tls.key"
  }
  {% endfor %}
}

listener "tcp" {
  address             = "{{ ipv4_address }}:8200"
  tls_cert_file       = "{{ vault_certs_path }}/tls.crt"
  tls_key_file        = "{{ vault_certs_path }}/tls.key"
  tls_client_ca_file  = "{{ vault_certs_path }}/ca.crt"
}

seal "awskms" {
  kms_key_id = "{{ vault_seal_kms_key_alias }}"
}

# telemetry {
#   statsite_address = "{{ ipv4_address }}:8125"
#   disable_hostname = true
# }