ui                                  = true
cluster_addr                        = "https://{{ ipv4_address }}:8201"
api_addr                            = "https://{{ ipv4_address }}:8200"
disable_mlock                       = true
cluster_name                        = "{{ vault.cluster_name }}"
enable_response_header_raft_node_id = true
log_level                           = "debug"

storage "consul" {
  address           = "{{ ipv4_address }}:8500"
  check_timeout     = "5s"
  consistency_mode  = "strong"
  path              = "vault/"
  token             = "{{ vault_consul_token.token.SecretID }}"
}

listener "tcp" {
  address                             = "{{ ipv4_address }}:8200"
  tls_cert_file                       = "{{ vault.cert_path }}"
  tls_key_file                        = "{{ vault.key_path }}"
  tls_require_and_verify_client_cert  = false
  telemetry {
    unauthenticated_metrics_access = true
  }
}

seal "awskms" {
  kms_key_id = "{{ vault.seal_kms_key_alias }}"
}

telemetry {
  prometheus_retention_time = "24h"
  usage_gauge_period = "10m"
  maximum_gauge_cardinality = 500
  enable_hostname_label = true
  lease_metrics_epsilon = "1h"
  num_lease_metrics_buckets = 168
  add_lease_metrics_namespace_labels = false
  filter_default = true
  disable_hostname = true
}
