[Unit]
Description=SeaweedFS Master Server
After=network.target consul.service
Wants=consul.service

[Service]
Type=simple
User={{ seaweedfs.user }}
Group={{ seaweedfs.user }}
# Wait for Consul to be ready
ExecStartPre=/bin/bash -c 'source /etc/profile.d/consul-acl-env.sh && until curl -s $CONSUL_HTTP_ADDR/v1/status/leader; do sleep 1; done'
# Register service with Consul before starting
ExecStartPre=/bin/bash -c 'source /etc/profile.d/consul-acl-env.sh && curl -X PUT $CONSUL_HTTP_ADDR/v1/agent/service/register \
  -H "X-Consul-Token: $CONSUL_SEAWEEDFS_SERVICE_TOKEN" \
  -H "Content-Type: application/json" \
  -d @/etc/seaweedfs/consul-master-service.json'
ExecStart=/usr/local/bin/weed master \
    -port=9333 \
    -mdir={{ seaweedfs.mount_path }}/master \
    -peers={% for host in groups['seaweedfs'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:9333{% if not loop.last %},{% endif %}{% endfor %} \
    -ip={{ ansible_default_ipv4.address }} \
    -raftHashicorp=true \
    -defaultReplication=001 \
    -volumeSizeLimitMB=2048
# Deregister service when stopping
ExecStopPost=/bin/bash -c 'source /etc/profile.d/consul-acl-env.sh && curl -X PUT $CONSUL_HTTP_ADDR/v1/agent/service/deregister/seaweedfs-master-{{ ansible_hostname }} \
  -H "X-Consul-Token: $CONSUL_SEAWEEDFS_SERVICE_TOKEN" || true'
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=seaweedfs-master

# Security settings
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths={{ seaweedfs.mount_path }}
ReadWritePaths=/var/log/seaweedfs

[Install]
WantedBy=multi-user.target