[Service]
; `Environment=` overrides are applied per environment variable. This line does not
; affect any other variables set in the service template.
Environment=CERT_LOCATION={{ nomad.cert_path }}
Environment=KEY_LOCATION={{ nomad.key_path }}
WorkingDirectory={{ nomad.key_path | dirname }}

; Restart Nomad service after certificate renewal
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-active nomad.service || systemctl try-reload-or-restart nomad.service"
