datacenter  = "{{ nomad.datacenter }}"
data_dir    = "{{ nomad.data_path }}"
bind_addr   = "{{ ipv4_address }}"

{% if clean_hostname in groups['nomad_server'] -%}
server {
  enabled           = true
  bootstrap_expect  = {{ groups['nomad_server'] | length }}
  encrypt           = "{{ nomad_gossip_key.stdout }}"
  heartbeat_grace   = "1h"
}
{% endif %}

consul {
  address             = "{{ ipv4_address }}:8501"
  token               = "{{ nomad_consul_token['token']['SecretID'] }}"
  grpc_address        = "{{ ipv4_address }}:8503"

  ssl                 = true
  ca_file             = "{{ step_ca.root_cert_path }}"
  cert_file           = "{{ nomad.cert_path }}"
  key_file            = "{{ nomad.key_path }}"
  verify_ssl          = true

  server_service_name = "nomad"
  client_service_name = "nomad-client"
  auto_advertise      = true
  server_auto_join    = true
  client_auto_join    = true
}

{% if clean_hostname in groups['nomad_client'] -%}
client {
  enabled = true
}
{% endif %}

tls {
  http                    = true
  rpc                     = true
  ca_file                 = "{{ step_ca.root_cert_path }}"
  cert_file               = "{{ nomad.cert_path }}"
  key_file                = "{{ nomad.key_path }}"
  verify_server_hostname  = true
  verify_https_client     = true
}

ui {
  enabled =  true

  content_security_policy {
    connect_src     = ["*"]
    default_src     = ["'none'"]
    form_action     = ["'none'"]
    frame_ancestors = ["'none'"]
    img_src         = ["'self'","data:"]
    script_src      = ["'self'"]
    style_src       = ["'self'","'unsafe-inline'"]
  }

  label {
    text             = "Staging Cluster"
    background_color = "yellow"
    text_color       = "#000000"
  }
}