[Unit]
Description=Ray
After=network.target
After=multi-user.target
Requires=network.target
Requires=multi-user.target

[Service]
User=ray
Group=ray
ExecStart=/usr/local/bin/start_ray.sh
WorkingDirectory=/home/ray
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
