#!/usr/bin/env bash

source {{ miniforge_base_dir }}/etc/profile.d/conda.sh;
conda activate {{ ray.conda.environment_name }};
{% if ray.role == 'head' %}
ray start \
  --head \
  --port=6379 \
  --node-ip-address={{ ipv4_address }} \
  --disable-usage-stats \
  --dashboard-host=127.0.0.1 \
  --dashboard-port=8265 \
  --include-dashboard=False \
  --ray-client-server-port=10001 \
  --block;
{% else %}
ray start --address={{ ray.head.ipv4_address }}:6379 --block;
{% endif %}
