---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-config
  namespace: {{ ceph_csi.namespace }}
data:
  config.json: |-
    [
      {
        "clusterID": "{{ ceph_csi.cluster_id }}",
        "monitors": [
{% for monitor in ceph_csi.monitors %}
          "{{ monitor }}"{% if not loop.last %},{% endif %}
{% endfor %}
        ]
      }
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-encryption-kms-config
  namespace: {{ ceph_csi.namespace }}
data:
  config.json: |-
    {}
---
apiVersion: v1  
kind: ConfigMap
metadata:
  name: ceph-config
  namespace: {{ ceph_csi.namespace }}
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx