---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-csi-rbd-secret
  namespace: {{ ceph_csi.namespace }}
type: Opaque
data:
  userID: {{ (ceph_csi.auth.user_id | b64encode) }}
  userKey: {{ ceph_key_b64 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-csi-rbd-provisioner-secret
  namespace: {{ ceph_csi.namespace }}
type: Opaque
data:
  userID: {{ (ceph_csi.auth.user_id | b64encode) }}
  userKey: {{ ceph_key_b64 }}
---
# CephFS secrets
apiVersion: v1
kind: Secret
metadata:
  name: ceph-csi-cephfs-secret
  namespace: {{ ceph_csi.namespace }}
type: Opaque
data:
  adminID: {{ (ceph_csi.auth.user_id | b64encode) }}
  adminKey: {{ ceph_key_b64 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-csi-cephfs-provisioner-secret
  namespace: {{ ceph_csi.namespace }}
type: Opaque
data:
  adminID: {{ (ceph_csi.auth.user_id | b64encode) }}
  adminKey: {{ ceph_key_b64 }}