[Service]
; `Environment=` overrides are applied per environment variable. This line does not
; affect any other variables set in the service template.
Environment=CERT_LOCATION=/etc/authelia/tls.crt
Environment=KEY_LOCATION=/etc/authelia/tls.key
WorkingDirectory=/etc/authelia

; Restart Authelia service after certificate renewal
ExecStartPost=/usr/bin/env sh -c "! systemctl --quiet is-active authelia.service || systemctl try-reload-or-restart authelia.service"