---
###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  admin:
    disabled: false
    displayname: "Administrator"
    password: "$argon2id$v=19$m=65536,t=3,p=4$ya4+G2y5P1RXHCNJOFWanA$+5CJSQeByiaoRupzsH65fpjMTBtUMdhXgnOvaNe+uks"
    email: admin@{{ authelia_domain }}
    groups:
      - admins
      - users

  # MCP service account for automated access
  mcp-service:
    disabled: false
    displayname: "MCP Service Account"
    password: "$argon2id$v=19$m=65536,t=3,p=4$Flm7xRevvcylW25CMnHEag$bCIXo3jBkJ1Q/S0ffMcYXGfz5eoEWTcq2erdN59lyQk"
    email: mcp@{{ authelia_domain }}
    groups:
      - services
      - api-access

# Groups
groups:
  admins:
    displayname: "Administrators"

  users:
    displayname: "Users"

  services:
    displayname: "Service Accounts"

  api-access:
    displayname: "API Access"