[Unit]
Description="HashiCorp Consul"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_hcl_path }}

[Service]
EnvironmentFile=-{{ consul_env_path }}
User=consul
Group=consul
ExecStart={{ consul_executable_path }} agent -config-dir={{ consul_config_path }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
