[Unit]
Description="HashiCorp Consul"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul.hcl_config_path }}

[Service]
EnvironmentFile=-{{ consul.env_config_path }}
User=consul
Group=consul
ExecStart={{ consul.executable_path }} agent -config-dir={{ consul.etc_path }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
