server = true
bootstrap_expect = {{ groups['consul_server'] | length }}
client_addr = "{{ ipv4_address }}"
ui_config {
  enabled = true
  metrics_provider = "prometheus"
  metrics_proxy {
    {% set listen_address, listen_port = prometheus_web_listen_address | split(':') -%}
    base_url = "http://{{ hostvars[groups['prometheus'] | first].ipv4_address }}:{{ listen_port }}"
  }
}
connect {
  enabled = true
}
addresses {
  grpc = "{{ ipv4_address }}"
}
ports {
  grpc_tls = 8502
}
