#                                    __   __  __
#                                    \ \ / / / /
#                                     \ V / / /
#                                      \_/  \/
#
#                                    V E C T O R
#                                   Configuration
#
# ------------------------------------------------------------------------------
# Website: https://vector.dev
# Docs: https://vector.dev/docs
# Chat: https://chat.vector.dev
# ------------------------------------------------------------------------------

data_dir: "/var/lib/vector"

sources:
  l_docker:
    type: docker_logs
  l_fail2ban:
    type: file
    include:
      - '/var/log/fail2ban.log'
    ignore_older_secs: 600
  l_haproxy:
    type: file
    include:
      - '/var/log/haproxy.log'
    ignore_older_secs: 600
  l_journald:
    type: journald
#   kubernetes_logs:
#     type: kubernetes_logs
#     ignore_older_secs: 600
#     self_node_name: "{{ clean_hostname }}"
#     timezone: "{{ my.local.timezone }}"
  l_internal:
    type: internal_logs
#  internal_metrics:
#    type: internal_metrics
  l_nginx:
    type: file
    include:
      - '/var/log/nginx/*.log'
    ignore_older_secs: 600
  l_syslog:
    type: file
    include:
      - '/var/log/syslog'
    ignore_older_secs: 600
  l_slurm:
    type: file
    include:
      - '/var/log/slurm/slurmctld.log'
      - '/var/log/slurm/slurmd.log'
    ignore_older_secs: 600

# See the Vector Remap Language reference for more info: https://vrl.dev
transforms:
  t_parse_syslog:
    type: 'remap'
    inputs:
      - 'l_syslog'
    source: |
      . = parse_syslog!(string!(.message))

sinks:
  loki:
    type: 'loki'
    inputs:
      - 't_parse_syslog'
      - 'l_docker'
      - 'l_fail2ban'
      - 'l_haproxy'
      - 'l_journald'
      - 'l_internal'
      - 'l_nginx'
      - 'l_slurm'
    endpoint: "https://{{ groups['loki'] | first }}:3100"
    encoding:
      codec: 'json'
    healthcheck:
      enabled: false
    labels:
      node: "{{ clean_hostname }}"
    tls:
      ca_file: "{{ step_ca.root_cert_path }}"
      crt_file: "{{ vector.cert_path }}"
      key_file: "{{ vector.key_path }}"
      verify_hostname: true
      verify_certificate: true

api:
  enabled: true
  address: "{{ ipv4_address }}:8686"
