---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
{{ k8s_kubeadm_init_config | to_nice_yaml }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
{{ k8s_kubeadm_cluster_config | to_nice_yaml }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{{ k8s_kubelet_config | to_nice_yaml }}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
{{ k8s_kubeproxy_config | to_nice_yaml }}
